.clear_filter_condition:hover {
  color: gray;
}

.clear_filter_condition {
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;
  cursor: pointer;
}

.clear_filter_condition span {
  font-size: 14px;
  font-weight: 650;
}
